#loginForm {
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 6vh 2rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}